<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jmartinn.herdr-server</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/jmartinn/.local/bin/herdr</string>
    <string>server</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/jmartinn</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/opt/homebrew/sbin:/Users/jmartinn/.local/bin:/Users/jmartinn/.bun/bin:/Users/jmartinn/Library/pnpm:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>WorkingDirectory</key>
  <string>/Users/jmartinn</string>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>5</integer>

  <key>StandardOutPath</key>
  <string>/Users/jmartinn/.config/herdr/herdr-launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/jmartinn/.config/herdr/herdr-launchd.err.log</string>
</dict>
</plist>
